/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: auto;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 2%;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin: 20px 2%;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 4% 20px 4%;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: auto;
    background: black;
    margin: 20px 2%;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
   
}

footer nav a {
    color: white;
    text-decoration: none;
}

.top-nav a{
    text-decoration: none;
    color: black;
}
.top-nav {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    margin: 0 4%;
}

.top-nav-and-img-section{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 2% 20px;
 
}

.top-bar{
    display: flex;
    margin: 20px 0 20px;
    align-items: baseline;
}

.box-background-teal{
    background: teal;
}

.box-background-gold{
    background: gold;
}

.box-background-cadetblue{
    background: cadetblue;
}

.box-background-coral{
    background: coral;
}

.box-background-crimson{
    background: crimson;
}

.box-background-forestgreen{
    background: forestgreen;
}

.box-background-darkorchid {
    background: darkorchid;
}

.box-background-hotpink{
    background: hotpink;
}

.box-background-indigo{
    background: indigo;
}

.box-background-dodgerblue{
    background: dodgerblue;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}

.about-top-content{
    width: auto;
    margin: 0 4% 20px 4%;
    padding-bottom: 20px;
    border-bottom: 1px dashed black; 
}

.about-middle-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 
}

.about-middle-container .text-container{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 20px 0;
    border-bottom: 1px dotted black;
}

.learnmore-button{
	border-radius: 7px;
	width: 100px;
	font-size: 12px;
	color: #000000;
	text-align: center;
	padding: 10px 10px;
	border: 1px solid black;
    margin: 2% 0;
}

.about-bottom{
    width: auto;
    margin: 0 4% 20px 4%;
    padding-bottom: 20px;
    
}

